:root {
  --purple: #851e3e;
  --skyblue: #F0FBFA;
}

.page {
  padding: 0;
  margin: 0;
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 10px 0;
}

.navbar__list {
  text-align: right;
  margin: 0;
  cursor: default;
}

.navbar__item {
  display: inline;
  margin-right: 8px;
}

.avatar {
  border-radius: 50%;
  border: 5px dotted yellow;
}

.section_full-h {
  height: 100vh;
}

.section_two-cols {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.button {
  cursor: pointer;
}

.button_link {
  text-decoration: none;
  text-transform: capitalize;
  color: inherit;
}

.bg_purple {
  background-color: var(--purple);
}

.text_raised {
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
}

.text_sans {
  font-family: sans-serif;
}

.text_skyblue {
  color: var(--skyblue);
}